src/main/resources/wsdl/vetc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://imp.service.crm.ftu.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://imp.service.crm.ftu.com/" name="RechargeGWServiceImp">
    <wsp:Policy xmlns:sunwsp="http://java.sun.com/xml/ns/wsit/policy" xmlns:ssp="http://schemas.sun.com/2006/03/wss/server" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="ChargeGWPortBindingPolicy">
        <sp:SupportingTokens>
            <wsp:Policy>
                <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp:Policy>
                        <sp:WssUsernameToken10/>
                    </wsp:Policy>
                </sp:UsernameToken>
            </wsp:Policy>
        </sp:SupportingTokens>

    </wsp:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://imp.service.crm.ftu.com/" schemaLocation="https://ws-bank-uat.vetc.com.vn/VETC_BIDV/RechargeGWService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="recharge">
        <part name="parameters" element="tns:recharge"/>
    </message>
    <message name="rechargeResponse">
        <part name="parameters" element="tns:rechargeResponse"/>
    </message>
    <message name="destroyRechargeGW">
        <part name="parameters" element="tns:destroyRechargeGW"/>
    </message>
    <message name="destroyRechargeGWResponse">
        <part name="parameters" element="tns:destroyRechargeGWResponse"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="queryAccountInfo">
        <part name="parameters" element="tns:queryAccountInfo"/>
    </message>
    <message name="queryAccountInfoResponse">
        <part name="parameters" element="tns:queryAccountInfoResponse"/>
    </message>
    <message name="AppException">
        <part name="fault" element="tns:AppException"/>
    </message>
    <message name="rechargeWithFee">
        <part name="parameters" element="tns:rechargeWithFee"/>
    </message>
    <message name="rechargeWithFeeResponse">
        <part name="parameters" element="tns:rechargeWithFeeResponse"/>
    </message>
    <message name="rechargeBySyntaxWithFee">
        <part name="parameters" element="tns:rechargeBySyntaxWithFee"/>
    </message>
    <message name="rechargeBySyntaxWithFeeResponse">
        <part name="parameters" element="tns:rechargeBySyntaxWithFeeResponse"/>
    </message>
    <message name="rechargeBySyntax">
        <part name="parameters" element="tns:rechargeBySyntax"/>
    </message>
    <message name="rechargeBySyntaxResponse">
        <part name="parameters" element="tns:rechargeBySyntaxResponse"/>
    </message>
    <message name="rechargeByNewSyntaxWithFee">
        <part name="parameters" element="tns:rechargeByNewSyntaxWithFee"/>
    </message>
    <message name="rechargeByNewSyntaxWithFeeResponse">
        <part name="parameters" element="tns:rechargeByNewSyntaxWithFeeResponse"/>
    </message>
    <message name="queryAccountInfoByEtagNumber">
        <part name="parameters" element="tns:queryAccountInfoByEtagNumber"/>
    </message>
    <message name="queryAccountInfoByEtagNumberResponse">
        <part name="parameters" element="tns:queryAccountInfoByEtagNumberResponse"/>
    </message>
    <message name="registerAutoDebitAccount">
        <part name="parameters" element="tns:registerAutoDebitAccount"/>
    </message>
    <message name="registerAutoDebitAccountResponse">
        <part name="parameters" element="tns:registerAutoDebitAccountResponse"/>
    </message>
    <message name="modifyAutoDebitAccount">
        <part name="parameters" element="tns:modifyAutoDebitAccount"/>
    </message>
    <message name="modifyAutoDebitAccountResponse">
        <part name="parameters" element="tns:modifyAutoDebitAccountResponse"/>
    </message>
    <message name="cancelAutoDebitAccount">
        <part name="parameters" element="tns:cancelAutoDebitAccount"/>
    </message>
    <message name="cancelAutoDebitAccountResponse">
        <part name="parameters" element="tns:cancelAutoDebitAccountResponse"/>
    </message>
    <message name="queryAutoDebitAccount">
        <part name="parameters" element="tns:queryAutoDebitAccount"/>
    </message>
    <message name="queryAutoDebitAccountResponse">
        <part name="parameters" element="tns:queryAutoDebitAccountResponse"/>
    </message>
    <message name="getListAutoDebitProcess">
        <part name="parameters" element="tns:getListAutoDebitProcess"/>
    </message>
    <message name="getListAutoDebitProcessResponse">
        <part name="parameters" element="tns:getListAutoDebitProcessResponse"/>
    </message>
    <message name="markListAutoDebitProcessFailed">
        <part name="parameters" element="tns:markListAutoDebitProcessFailed"/>
    </message>
    <message name="markListAutoDebitProcessFailedResponse">
        <part name="parameters" element="tns:markListAutoDebitProcessFailedResponse"/>
    </message>
    <message name="queryAutoDebitAccountInfo">
        <part name="parameters" element="tns:queryAutoDebitAccountInfo"/>
    </message>
    <message name="queryAutoDebitAccountInfoResponse">
        <part name="parameters" element="tns:queryAutoDebitAccountInfoResponse"/>
    </message>
    <message name="queryRechargeTrans">
        <part name="parameters" element="tns:queryRechargeTrans"/>
    </message>
    <message name="queryRechargeTransResponse">
        <part name="parameters" element="tns:queryRechargeTransResponse"/>
    </message>
    <message name="rechargeSignature">
        <part name="parameters" element="tns:rechargeSignature"/>
    </message>
    <message name="rechargeSignatureResponse">
        <part name="parameters" element="tns:rechargeSignatureResponse"/>
    </message>
    <message name="registerAutoDebitAccountSignature">
        <part name="parameters" element="tns:registerAutoDebitAccountSignature"/>
    </message>
    <message name="registerAutoDebitAccountSignatureResponse">
        <part name="parameters" element="tns:registerAutoDebitAccountSignatureResponse"/>
    </message>
    <message name="modifyAutoDebitAccountSignature">
        <part name="parameters" element="tns:modifyAutoDebitAccountSignature"/>
    </message>
    <message name="modifyAutoDebitAccountSignatureResponse">
        <part name="parameters" element="tns:modifyAutoDebitAccountSignatureResponse"/>
    </message>
    <message name="cancelAutoDebitAccountSignature">
        <part name="parameters" element="tns:cancelAutoDebitAccountSignature"/>
    </message>
    <message name="cancelAutoDebitAccountSignatureResponse">
        <part name="parameters" element="tns:cancelAutoDebitAccountSignatureResponse"/>
    </message>
    <message name="rechargeBySyntaxSignature">
        <part name="parameters" element="tns:rechargeBySyntaxSignature"/>
    </message>
    <message name="rechargeBySyntaxSignatureResponse">
        <part name="parameters" element="tns:rechargeBySyntaxSignatureResponse"/>
    </message>
    <portType name="RechargeGWServiceImp">
        <operation name="recharge">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeRequest" message="tns:recharge"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeResponse" message="tns:rechargeResponse"/>
        </operation>
        <operation name="destroyRechargeGW">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/destroyRechargeGWRequest" message="tns:destroyRechargeGW"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/destroyRechargeGWResponse" message="tns:destroyRechargeGWResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/destroyRechargeGW/Fault/Exception"/>
        </operation>
        <operation name="queryAccountInfo">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAccountInfoRequest" message="tns:queryAccountInfo"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAccountInfoResponse" message="tns:queryAccountInfoResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAccountInfo/Fault/AppException"/>
        </operation>
        <operation name="rechargeWithFee">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeWithFeeRequest" message="tns:rechargeWithFee"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeWithFeeResponse" message="tns:rechargeWithFeeResponse"/>
        </operation>
        <operation name="rechargeBySyntaxWithFee">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeBySyntaxWithFeeRequest" message="tns:rechargeBySyntaxWithFee"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeBySyntaxWithFeeResponse" message="tns:rechargeBySyntaxWithFeeResponse"/>
        </operation>
        <operation name="rechargeBySyntax">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeBySyntaxRequest" message="tns:rechargeBySyntax"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeBySyntaxResponse" message="tns:rechargeBySyntaxResponse"/>
        </operation>
        <operation name="rechargeByNewSyntaxWithFee">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeByNewSyntaxWithFeeRequest" message="tns:rechargeByNewSyntaxWithFee"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeByNewSyntaxWithFeeResponse" message="tns:rechargeByNewSyntaxWithFeeResponse"/>
        </operation>
        <operation name="queryAccountInfoByEtagNumber">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAccountInfoByEtagNumberRequest" message="tns:queryAccountInfoByEtagNumber"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAccountInfoByEtagNumberResponse" message="tns:queryAccountInfoByEtagNumberResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAccountInfoByEtagNumber/Fault/Exception"/>
        </operation>
        <operation name="registerAutoDebitAccount">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/registerAutoDebitAccountRequest" message="tns:registerAutoDebitAccount"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/registerAutoDebitAccountResponse" message="tns:registerAutoDebitAccountResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/registerAutoDebitAccount/Fault/AppException"/>
        </operation>
        <operation name="modifyAutoDebitAccount">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/modifyAutoDebitAccountRequest" message="tns:modifyAutoDebitAccount"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/modifyAutoDebitAccountResponse" message="tns:modifyAutoDebitAccountResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/modifyAutoDebitAccount/Fault/AppException"/>
        </operation>
        <operation name="cancelAutoDebitAccount">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/cancelAutoDebitAccountRequest" message="tns:cancelAutoDebitAccount"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/cancelAutoDebitAccountResponse" message="tns:cancelAutoDebitAccountResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/cancelAutoDebitAccount/Fault/AppException"/>
        </operation>
        <operation name="queryAutoDebitAccount">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAutoDebitAccountRequest" message="tns:queryAutoDebitAccount"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAutoDebitAccountResponse" message="tns:queryAutoDebitAccountResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAutoDebitAccount/Fault/AppException"/>
        </operation>
        <operation name="getListAutoDebitProcess">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/getListAutoDebitProcessRequest" message="tns:getListAutoDebitProcess"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/getListAutoDebitProcessResponse" message="tns:getListAutoDebitProcessResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/getListAutoDebitProcess/Fault/AppException"/>
        </operation>
        <operation name="markListAutoDebitProcessFailed">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/markListAutoDebitProcessFailedRequest" message="tns:markListAutoDebitProcessFailed"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/markListAutoDebitProcessFailedResponse" message="tns:markListAutoDebitProcessFailedResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/markListAutoDebitProcessFailed/Fault/AppException"/>
        </operation>
        <operation name="queryAutoDebitAccountInfo">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAutoDebitAccountInfoRequest" message="tns:queryAutoDebitAccountInfo"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAutoDebitAccountInfoResponse" message="tns:queryAutoDebitAccountInfoResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryAutoDebitAccountInfo/Fault/AppException"/>
        </operation>
        <operation name="queryRechargeTrans">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryRechargeTransRequest" message="tns:queryRechargeTrans"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryRechargeTransResponse" message="tns:queryRechargeTransResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/queryRechargeTrans/Fault/AppException"/>
        </operation>
        <operation name="rechargeSignature">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeSignatureRequest" message="tns:rechargeSignature"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeSignatureResponse" message="tns:rechargeSignatureResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeSignature/Fault/AppException"/>
        </operation>
        <operation name="registerAutoDebitAccountSignature">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/registerAutoDebitAccountSignatureRequest" message="tns:registerAutoDebitAccountSignature"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/registerAutoDebitAccountSignatureResponse" message="tns:registerAutoDebitAccountSignatureResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/registerAutoDebitAccountSignature/Fault/AppException"/>
        </operation>
        <operation name="modifyAutoDebitAccountSignature">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/modifyAutoDebitAccountSignatureRequest" message="tns:modifyAutoDebitAccountSignature"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/modifyAutoDebitAccountSignatureResponse" message="tns:modifyAutoDebitAccountSignatureResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/modifyAutoDebitAccountSignature/Fault/AppException"/>
        </operation>
        <operation name="cancelAutoDebitAccountSignature">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/cancelAutoDebitAccountSignatureRequest" message="tns:cancelAutoDebitAccountSignature"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/cancelAutoDebitAccountSignatureResponse" message="tns:cancelAutoDebitAccountSignatureResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/cancelAutoDebitAccountSignature/Fault/AppException"/>
        </operation>
        <operation name="rechargeBySyntaxSignature">
            <input wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeBySyntaxSignatureRequest" message="tns:rechargeBySyntaxSignature"/>
            <output wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeBySyntaxSignatureResponse" message="tns:rechargeBySyntaxSignatureResponse"/>
            <fault message="tns:AppException" name="AppException" wsam:Action="http://imp.service.crm.ftu.com/RechargeGWServiceImp/rechargeBySyntaxSignature/Fault/AppException"/>
        </operation>
    </portType>
    <binding name="RechargeGWServiceImpPortBinding" type="tns:RechargeGWServiceImp">
        <wsp:PolicyReference URI="#ChargeGWPortBindingPolicy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="recharge">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="destroyRechargeGW">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="queryAccountInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="rechargeWithFee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="rechargeBySyntaxWithFee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="rechargeBySyntax">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="rechargeByNewSyntaxWithFee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="queryAccountInfoByEtagNumber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="registerAutoDebitAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyAutoDebitAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelAutoDebitAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="queryAutoDebitAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="getListAutoDebitProcess">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="markListAutoDebitProcessFailed">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="queryAutoDebitAccountInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="queryRechargeTrans">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="rechargeSignature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="registerAutoDebitAccountSignature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyAutoDebitAccountSignature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelAutoDebitAccountSignature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
        <operation name="rechargeBySyntaxSignature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AppException">
                <soap:fault name="AppException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="RechargeGWServiceImp">
        <port name="RechargeGWServiceImpPort" binding="tns:RechargeGWServiceImpPortBinding">
            <soap:address location="https://ws-bank-uat.vetc.com.vn/VETC_BIDV/RechargeGWService"/>
        </port>
    </service>
</definitions>